// app global css in SCSS form
.text-logoGreen {
  color: $positive;
}

.text-logoRed {
  color: $logoRed;
}

.text-blue {
  color: $primary;
}

.text-color {
  color: $goldBrown;
}

.bg-logoRed {
  background-color: $logoRed;
}

.bg-goldBrown {
  background-color: $goldBrown;
}

.bg-transparent {
  background-color: rgba(255, 0, 0, 0.4);
}

.bg-main-layout-light {
  background-color: #ecf0f1;
}

.bg-positive {
  background-color: $positive;
}

.bg-main-layout-dark {
  background-color: #92a2ae;
}

.q-card {
  background: #ecf0f1;
}

body {
  font-family: "Nunito", sans-serif;
}

.q-layout {
  background: linear-gradient(
    to top,
    #8e9eab,
    #eef2f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-layout-color {
  background: linear-gradient(
    to top,
    #8e9eab,
    #eef2f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* scrollbars */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $goldBrown;
  border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $goldBrown;
  border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $goldBrown;
}

.q-dialog__inner--minimized {
  padding: 0px;
}

.constrain {
  max-width: 975px;
  margin: 0 auto;
}

.constrain-more {
  max-width: 300px;
  margin: 0 auto;
}

.camera-frame {
  border: 2px solid $grey-10;
  border-radius: 10px;
}

.q-stepper {
  background: #ecf0f1 !important;
}

.breakWord {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.2s ease;
}
.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

.q-radio__label {
  color: $goldBrown;
}

.q-checkbox__label {
  color: $goldBrown;
}

.q-field__label {
  color: $goldBrown;
}

.q-field__native {
  color: $goldBrown;
}

.q-table__bottom-item {
  color: $goldBrown;
}

.q-checkbox--dense .q-checkbox__label {
  padding: 0.3em;
}

.q-radio--dense .q-radio__label {
  padding: 0.35em;
}